<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.starchild.common.dao.ClassDao">
    <resultMap id="BaseResultMap" type="cn.starchild.common.model.ClassModel">
        <id column="id" jdbcType="CHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="teacher_id" jdbcType="CHAR" property="teacherId"/>
        <result column="invitation_code" jdbcType="CHAR" property="invitationCode"/>
        <result column="people_maximum" jdbcType="TINYINT" property="peopleMaximum"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="topping" jdbcType="TINYINT" property="topping"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="modified" jdbcType="TIMESTAMP" property="modified"/>
    </resultMap>

    <!--    <resultMap id="UserResultMap" type="User">-->
    <!--        <id column="user_id" jdbcType="CHAR" property="id"/>-->
    <!--    </resultMap>-->
    <sql id="Base_Column_List">
        id, name, teacher_id, invitation_code, people_maximum, status, topping, created,
    modified
    </sql>
    <update id="updateById" parameterType="Class">
        update t_class
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="peopleMaximum != null">
                people_maximum = #{peopleMaximum,jdbcType=TINYINT},
            </if>
            <if test="topping != null">
                topping = #{topping,jdbcType=TINYINT},
            </if>
            <if test="modified != null">
                modified = #{modified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=CHAR}
    </update>
    <update id="deleteById" parameterType="string">
        update t_class
        set status=2
        where id = #{id}
    </update>

    <select id="selectMyTeachingClassList" resultType="java.util.Map" parameterType="string">
        select u.id   user_id,
               u.name user_name,
               c.id,
               c.name,
               c.invitation_code
        from t_user u
                 left join t_class c
                           on c.teacher_id = u.id
        where u.id = #{id}
          and c.status != 2
    </select>
    <select id="selectMyStudyingClassList" resultType="java.util.Map" parameterType="string">
        select c.id,
               c.name,
               c.invitation_code,
               cs.id  class_student_id,
               u.name teacher_name
        from t_class c
                 left join t_user u on c.teacher_id = u.id
                 join t_class_student cs on cs.class_id = c.id
        where cs.student_id = #{id}
          and c.status != 2
    </select>
    <select id="selectCountForId" resultType="java.lang.Integer" parameterType="string">
        select count(id)
        from t_class_student
        where class_id = #{classId}
          and status != 2
    </select>
    <select id="selectClassCodeList" resultType="java.lang.String">
        select invitation_code
        from t_class
        where status != 2
    </select>
    <select id="validateClass" resultType="cn.starchild.common.model.ClassModel" parameterType="string">
        select id
        from t_class
        where id = #{id}
          and status != 2;
    </select>
    <select id="validateClassByCode" resultMap="BaseResultMap" parameterType="string">
        select id, teacher_id
        from t_class
        where invitation_code = #{code}
          and status != 2;
    </select>
    <select id="validateIsClass" resultMap="BaseResultMap" parameterType="cn.starchild.common.model.ClassModel">
        select id,
               name
        from t_class
        where id = #{id}
          and teacher_id = #{teacherId}
          and name = #{name}
          and status != 2
    </select>
</mapper>