<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.starchild.common.dao.HomeworkEmailDao">
    <resultMap id="BaseResultMap" type="cn.starchild.common.model.HomeworkEmailModal">
        <id column="id" jdbcType="CHAR" property="id"/>
        <result column="homework_id" jdbcType="CHAR" property="homeworkId"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="modified" jdbcType="TIMESTAMP" property="modified"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, homework_id, created, status, modified
    </sql>
    <select id="selectByHomeworkList" resultType="java.util.Map">
        select
        id,
        homework_id,
        status*1 status
        from t_homework_email
        where homework_id in
        <foreach collection="list" item="homeworkId" index="index" open="(" close=")" separator=",">
            #{homeworkId}
        </foreach>
    </select>

</mapper>