<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.starchild.common.dao.UserDao">
    <resultMap id="UserResultMap" type="cn.starchild.common.model.UserModel">
        <id column="id" jdbcType="CHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="serial_code" jdbcType="CHAR" property="serialCode"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="modified" jdbcType="TIMESTAMP" property="modified"/>
    </resultMap>

    <resultMap id="ClassResultMap" type="Class">
        <id column="class_id" jdbcType="CHAR" property="id"/>
        <result column="class_name" jdbcType="VARCHAR" property="name"/>
        <result column="teacher_id" jdbcType="CHAR" property="teacherId"/>
        <result column="invitation_code" jdbcType="CHAR" property="invitationCode"/>
        <result column="people_maximum" jdbcType="BIT" property="peopleMaximum"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="topping" jdbcType="BIT" property="topping"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="modified" jdbcType="TIMESTAMP" property="modified"/>
    </resultMap>

    <resultMap id="ClassStudentResultMap" type="ClassStudent">
        <id column="class_student_id" jdbcType="CHAR" property="id"/>
        <result column="class_id" jdbcType="CHAR" property="classId"/>
        <result column="student_id" jdbcType="CHAR" property="studentId"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="modified" jdbcType="TIMESTAMP" property="modified"/>
    </resultMap>

    <update id="updateByOpenId" parameterType="cn.starchild.common.model.UserModel">
        update t_user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="serialCode != null">
                serial_code = #{serialCode,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="modified != null">
                modified = #{modified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where open_id = #{openId,jdbcType=VARCHAR}
    </update>

    <select id="getAllUsers" resultType="java.util.Map">
        SELECT *
        FROM t_user
        where status != 2
    </select>
    <select id="hasUserForOpenId" resultType="String" parameterType="string">
        select id
        from t_user
        where open_id = #{openId}
          and status != 2
    </select>
    <select id="findOneByOpenId" resultMap="UserResultMap">
        select *
        from t_user
        where open_id = #{openId}
          and status != 2
    </select>
    <select id="validateUserById" resultType="java.lang.String" parameterType="string">
        select id
        from t_user
        where id = #{id}
          and status != 2
    </select>
    <select id="getUserList" resultType="java.util.Map">
        select id,
               name,
               open_id,
               status*1 status,
               created,
               email,
               serial_code
        from t_user
    </select>


</mapper>